.item-row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    gap: 20px;
  }
  
  .item-row > div {
    flex: 1; 
    width: 360px;
    /* max-width: 360px; */
    height: 360px;
  }
  
  @media (max-width: 768px) {
    .item-row {
      flex-direction: column;
    }
  
    .item-row > div {
      width: 100px;
      /* max-width: 100px;  */
      margin-bottom: 20px; 
      height: 100px;
    }
  }